/* body{
    background-image: url('./img/1.png');
    background-size: cover;
} */

.Home{
    background: url('./img/1.png'); 
    background-size: contain;
    border: 2px solid black;
    height: 638px;
    width: 1350px;
}